# --- Dependencias principales ---
opencv-python==4.10.0.84
mediapipe==0.10.14
numpy==1.26.4
Pillow==10.4.0
tqdm==4.66.5

# --- Inferencia ONNX ligera ---
onnxruntime==1.20.0

# --- Clustering y métricas opcionales ---
scikit-learn==1.5.2

# --- Opcional (solo si usas variables .env) ---
python-dotenv==1.0.1

# --- (opcional) Si planeas experimentar con DeepFace para comparación ---
deepface==0.0.93
